<ion-header>
  <ion-toolbar>
    <ion-title>Music</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <input #fileInput type="file" accept=".aac,.m4a,.mp3,.wav,.ogg,.flac,.opus" multiple (change)="handleMultipleFiles($event)" style="display: none;"/>

  <ion-list>
    <ion-item *ngFor="let audio of loadedAudios">
      <ion-label>{{ audio.name }}</ion-label>
      <ion-button size="small" (click)="playAudio(audio.assetId)">Play</ion-button>
      <ion-button size="small" (click)="loopAudio(audio.assetId)">Loop</ion-button>
      <ion-button size="small" (click)="stopAudio(audio.assetId)">Stop</ion-button>
      <ion-button size="small" (click)="unloadAudio(audio.assetId)" color="danger">Unload</ion-button>
      <ion-button size="small" (click)="getDuration(audio.assetId)">Duration</ion-button>
      <ion-button size="small" (click)="getCurrentTime(audio.assetId)">Time</ion-button>
      <ion-button size="small" (click)="isPlaying(audio.assetId)">Status</ion-button>
    </ion-item>
  </ion-list>
  
  <ion-card *ngIf="currentAudio">
    <ion-card-content>
      <div style="display: flex; align-items: center;">
        <ion-icon name="musical-notes-outline" slot="start" style="font-size: 2em; margin-right: 12px;"></ion-icon>
        <div style="flex: 1;">
          <div>{{ currentAudio.name }}</div>
        </div>
        <ion-button fill="clear" size="small" (click)="playAudio(currentAudio.assetId)">
          <ion-icon name="play"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" (click)="pauseAudio(currentAudio.assetId)">
          <ion-icon name="pause"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" (click)="stopAudio(currentAudio.assetId)">
          <ion-icon name="stop"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="fileInput.click()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
